# How to download the public companies' earnings calendar in Python

## Setup

In [1]:
import pandas as pd
from datetime import datetime
from datetime import timedelta
from yahoo_earnings_calendar import YahooEarningsCalendar
import dateutil.parser

## Downloading the earnings calendar using Python

### For a specific date

In [2]:
# setting the report date
report_date = datetime.now().date()

# downloading the earnings calendar
yec = YahooEarningsCalendar()
earnings_list = yec.earnings_on(report_date)

# saving the data in a pandas DataFrame
earnings_df = pd.DataFrame(earnings_list)
earnings_df.head()

,ticker,companyshortname,startdatetime,startdatetimetype,epsestimate,epsactual,epssurprisepct,timeZoneShortName,gmtOffsetMilliSeconds,quoteType
0,WDFC,WD-40 Co,2021-07-07T20:00:00.000Z,AMC,1.15,None,None,EDT,-14400000,EQUITY
1,AMBO,Ambow Education Holding Ltd,2021-07-07T10:59:00.000Z,TNS,NaN,None,None,EDT,-14400000,EQUITY
2,ARTW,Art's Way Manufacturing Co Inc,2021-07-07T10:59:00.000Z,TNS,NaN,None,None,EDT,-14400000,EQUITY
3,NEA,Nuveen Amt-Free Quality Municipal Income Fund,2021-07-07T10:59:00.000Z,TNS,NaN,None,None,EDT,-14400000,EQUITY
4,NVG,Nuveen AMT-Free Municipal Credit Income Fund,2021-07-07T10:59:00.000Z,TNS,NaN,None,None,EDT,-14400000,EQUITY

In [4]:
earnings_df.shape

(9, 10)

In [5]:
earnings_list[:2]

[{'ticker': 'WDFC',
  'companyshortname': 'WD-40 Co',
  'startdatetime': '2021-07-07T20:00:00.000Z',
  'startdatetimetype': 'AMC',
  'epsestimate': 1.15,
  'epsactual': None,
  'epssurprisepct': None,
  'timeZoneShortName': 'EDT',
  'gmtOffsetMilliSeconds': -14400000,
  'quoteType': 'EQUITY'},
 {'ticker': 'AMBO',
  'companyshortname': 'Ambow Education Holding Ltd',
  'startdatetime': '2021-07-07T10:59:00.000Z',
  'startdatetimetype': 'TNS',
  'epsestimate': None,
  'epsactual': None,
  'epssurprisepct': None,
  'timeZoneShortName': 'EDT',
  'gmtOffsetMilliSeconds': -14400000,
  'quoteType': 'EQUITY'}]

### For a range of dates

In [6]:
DAYS_AHEAD = 7

# setting the dates
start_date = datetime.now().date()
end_date = (datetime.now().date() + timedelta(days=DAYS_AHEAD))

# downloading the earnings calendar
yec = YahooEarningsCalendar()
earnings_list = yec.earnings_between(start_date, end_date)

# saving the data in a pandas DataFrame
earnings_df = pd.DataFrame(earnings_list)
earnings_df.head()

,ticker,companyshortname,startdatetime,startdatetimetype,epsestimate,epsactual,epssurprisepct,timeZoneShortName,gmtOffsetMilliSeconds,quoteType
0,WDFC,WD-40 Co,2021-07-07T20:00:00.000Z,AMC,1.15,None,None,EDT,-14400000,EQUITY
1,AMBO,Ambow Education Holding Ltd,2021-07-07T10:59:00.000Z,TNS,NaN,None,None,EDT,-14400000,EQUITY
2,ARTW,Art's Way Manufacturing Co Inc,2021-07-07T10:59:00.000Z,TNS,NaN,None,None,EDT,-14400000,EQUITY
3,NEA,Nuveen Amt-Free Quality Municipal Income Fund,2021-07-07T10:59:00.000Z,TNS,NaN,None,None,EDT,-14400000,EQUITY
4,NVG,Nuveen AMT-Free Municipal Credit Income Fund,2021-07-07T10:59:00.000Z,TNS,NaN,None,None,EDT,-14400000,EQUITY

In [7]:
earnings_df.shape

(85, 10)

### For a specific product

In [8]:
# setting the parameters 
TICKER = 'TWTR'
DAYS_AHEAD = 180

# setting the dates
start_date = datetime.now().date()
end_date = (datetime.now().date() + timedelta(days=DAYS_AHEAD))

# downloading the earnings calendar
yec = YahooEarningsCalendar()
earnings_list = yec.get_earnings_of(TICKER)
earnings_df = pd.DataFrame(earnings_list)

# extracting the date from the string and filtering for the period of interest
earnings_df['report_date'] = earnings_df['startdatetime'].apply(lambda x: dateutil.parser.isoparse(x).date())
earnings_df = earnings_df.loc[earnings_df['report_date'].between(start_date, end_date)] \
                         .sort_values('report_date')

earnings_df

,ticker,companyshortname,startdatetime,startdatetimetype,epsestimate,epsactual,epssurprisepct,timeZoneShortName,gmtOffsetMilliSeconds,quoteType,report_date
3,TWTR,Twitter Inc,2021-07-22T20:00:00.000Z,AMC,0.07,NaN,NaN,EDT,-14400000,EQUITY,2021-07-22
2,TWTR,Twitter Inc,2021-10-27T10:59:00.000Z,TNS,NaN,NaN,NaN,EDT,-14400000,EQUITY,2021-10-27